---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak:] Publikować i analizować Wyniki testów? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System umożliwia wprowadzanie zmian w jakości kodu projektu w miarę postępów projektu. Ten film wideo zawiera instrukcje dotyczące publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641191"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="be33a-105">[Jak:] Publikować i analizować Wyniki testów?</span><span class="sxs-lookup"><span data-stu-id="be33a-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="be33a-106">[Krzysztof Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="be33a-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="be33a-107">Visual Studio Team System umożliwia wprowadzanie zmian w jakości kodu projektu w miarę postępów projektu.</span><span class="sxs-lookup"><span data-stu-id="be33a-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="be33a-108">Ten film wideo zawiera instrukcje dotyczące publikowania wyników testów w bazie danych projektu Team Foundation Server i kojarzenia wyników z numerem kompilacji.</span><span class="sxs-lookup"><span data-stu-id="be33a-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="be33a-109">Zobaczymy, że po opublikowaniu wyników można użyć Menedżer raportów, aby wyświetlić graficzną reprezentację zmian w naszych wynikach testu kompilacji.</span><span class="sxs-lookup"><span data-stu-id="be33a-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="be33a-110">&#9654;Obejrzyj wideo (7 minut)</span><span class="sxs-lookup"><span data-stu-id="be33a-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="be33a-111">[Poprzednie](how-do-i-use-generic-tests.md)
> [dalej](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="be33a-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
