---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak mogę] Publikowanie i analizowanie wyników testu? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. To wideo zawiera instrukcje dotyczące sposobu publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/17/2019
ms.locfileid: "59413506"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="e2291-105">[Jak mogę] Publikowanie i analizowanie wyników testu?</span><span class="sxs-lookup"><span data-stu-id="e2291-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="e2291-106">przez [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="e2291-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="e2291-107">Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu.</span><span class="sxs-lookup"><span data-stu-id="e2291-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="e2291-108">To wideo zawiera instrukcje na temat publikowania wyników testu do projektu bazy danych Team Foundation Server i skojarzyć wyniki z numeru kompilacji.</span><span class="sxs-lookup"><span data-stu-id="e2291-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="e2291-109">Widzimy, że po opublikowaniu wyniki możemy użyć Menedżera raportów, aby wyświetlić graficzną reprezentację zmiany w naszych wyników testu kompilacji.</span><span class="sxs-lookup"><span data-stu-id="e2291-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="e2291-110">&#9654;Obejrzyj film wideo (minuty 7)</span><span class="sxs-lookup"><span data-stu-id="e2291-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="e2291-111">[Poprzednie](how-do-i-use-generic-tests.md)
> [dalej](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="e2291-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
