---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak:] Publikować i analizować Wyniki testów? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System umożliwia wprowadzanie zmian w jakości kodu projektu w miarę postępów projektu. Ten film wideo zawiera instrukcje dotyczące publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641191"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Jak:] Publikować i analizować Wyniki testów?

[Krzysztof Menegay](https://twitter.com/CMenegay)

Visual Studio Team System umożliwia wprowadzanie zmian w jakości kodu projektu w miarę postępów projektu. Ten film wideo zawiera instrukcje dotyczące publikowania wyników testów w bazie danych projektu Team Foundation Server i kojarzenia wyników z numerem kompilacji. Zobaczymy, że po opublikowaniu wyników można użyć Menedżer raportów, aby wyświetlić graficzną reprezentację zmian w naszych wynikach testu kompilacji.

[&#9654;Obejrzyj wideo (7 minut)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Poprzednie](how-do-i-use-generic-tests.md)
> [dalej](how-do-i-discover-application-changes-prior-to-deployment.md)
